*{
float:left;
margin-left:0px;
padding-left:0px;

  }

.world{
  margin-top: 20px;
  margin-left:20px;
  height: 100px;
  width: 110px;
  position:relative;

}

#h1{
  margin-top:5px;
  font-family: serif;
  font-size: 25px;
  text-align: center;
  }


#h2{
  font-family: serif;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
}

li.h3{

  float: left;
  font-size: 12px;

  padding-left: 0px;
  margin-left:0px;
  margin-right:10px;

}

li{
  float: left;
  padding-left: none;
  font-size: 12px;
  position:relative;
  margin-bottom: 10px;
  padding-right:50px;
}

img.settingglyph{
  height: 10px;
  width: 10px;
  float:left;
  margin-top:20px;
}
