*{
  float:left;
}

.world{
  margin-top: 20px;
  margin-left:20px;
  height: 100px;
  width: 110px;
  position:relative;

}

#h1{
  margin-top:5px;
  font-family: serif;
  font-size: 25px;
  text-align: center;
  }


#h2{
  font-family: serif;
  font-size: 14px;
  text-align: center;
}

#main{
  padding-left:none;
}

li.h3{
  color:black;
  font-size:12px;
  float:left;
  margin-left:relative;
}


ul{
  font-size:12px;
}

li{
  margin-left:none;
  padding-left:none;
  color: blue;
}

.settingglyph{
  height:10px;
  width:10px;
  float:left;
  padding-left:none;
